:root {
  --sidebar-width: 130px;
  --lateral-padding: 30px;
  --sidebar-with-lateral-padding: 240px;
  --top-padding: 55px;
  --content-width: 950;
  --layout-gap: 3.2rem;
  --font-sans: "Overused Grotesk", sans-serif;
}

@font-face {
  font-family: "Overused Grotesk";
  src:
    url("fonts/OverusedGrotesk-Roman.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Overused Grotesk";
  src:
    url("fonts/OverusedGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
}

body, html {
  height: 100vh;
  margin: 0;
}

.layout-container {
  display: flex;
  height: 100%;
  gap: var(--layout-gap);
}

.layout-content {
  display: flex;
  flex-direction: column;
  padding-right: 1.875rem;
  width: calc(100% - var(--sidebar-width));
}

.layout-sidebar {
  width: var(--sidebar-width);
  padding: var(--top-padding) var(--lateral-padding) 0 var(--lateral-padding);
  flex: 1 0 var(--sidebar-width);
  overflow-y: auto; /* For long about text */
}

.layout-sidebar p:first-of-type {
  line-height: 1.345;
}

#content-container {
  max-width: 1200px;
  flex-grow: 1;
}

#main-content {
  overflow-y: auto;
  max-width: calc(var(--content-width) * 1px);
  max-height: 69vh;
}

#content-wrapper {
  justify-content: flex-end;
}

#content-container p:first-of-type {
  margin-top: 0;
}

.transcript, .speaker, .speech {
  display: block;
}

#header, #footer {
  width: 100%;
  z-index: 10; /* Ensure it's on top */
  box-sizing: border-box;
}

#header-wrapper {
  background-color: #fff;
  padding: var(--top-padding) 0 14px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

nav ul {  
  display: flex;
  gap: 25px;
  justify-content: left;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
}

nav a {
  text-decoration: none;
}

nav #about-link {
  display: none;
}

#footer {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 30px;
  background-color: #fff;
}

#footer-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: calc(var(--content-width) * 1px - 20px);
}

/* Popup Styles */
#popup {
  position: fixed;
  top: 50%;
  left: 30%;
  transform: translate(-22%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 11;
}
#popup-inner {
  max-height: 80vh; /* Limit height to 80% of viewport */
  overflow-y: auto; /* Add scroll if content overflows */
}

#scrim {
  z-index: 11;
  position: fixed;
  width: 100vw;
  height: 110vh;
  top: 0;
  background-color: #ccc;
  opacity: .6;
  display: none;
}

/* Text styles & colors */
body {
  font-size: 1rem;
  color: #d95050;
}
body.fonts-loaded {
  font-family: var(--font-sans);
}
a {
  color: #d95050;
}
h1, h2 {
  font-size: 1rem;
  margin: 0;
}
h1 {
  margin: 0;
}
aside, footer {
  font-size: .8rem;
}

/* Responsive Styles */
@media (max-width: 970px) {
  #header-wrapper {
    grid-template-columns: 5fr 4fr;
  }
}

@media (max-width: 768px) {
  #sidebar {
    display: none;
  }
  .layout-content {
    width: 100%;
    padding: 1.875rem;
  }
  nav {
    justify-content: flex-end; /* Align items to the right */
  }
  nav #about-link {
    display: flex; /* Make "about" visible */
  }
}

@media (max-width: 580px) {
  #header-wrapper {
    grid-template-columns: 1fr;
  }
  nav ul {
    margin-top: 10px;
  }
}
